/* global */
body {
    font-family:helvetica,arial,sans-serif;
    color: #333;
}

.left {
    text-align:left;
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}

.clear {
    clear:both;
}

#hd {
    margin: 10px 20px;
}

#bd {
    margin: 10px 20px;
}

#ft {
    text-align:center;
    margin-top:30px;
    color:#999;
    font-size: 0.8em;
}

#ft a {
    color:#666;
    text-decoration:underline;
}

.errorlist {
    color:#c30;
    font-size: 0.8em;
}

h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.6em;
}
h3 {
    font-size:1.4em;
}

p {
    margin: 10px 0;
}

a {
    color: #58788C;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

tr.even {
    background-color:#fff;
}
tr.odd {
    background-color: #eee;
}

.title {
    background-color:#628296;
    color:#fff;
    text-align:center;
    line-height:1.5em;
}

.highlight {
    background-color:#E0E9EF;
}

.full-width {
    width:100%;
}


/* _toolbar.html */
#titlebar {
    border-top:2px solid #999;
    border-bottom:2px solid #999;
    padding: 10px 0;
    margin: 20px auto;
}

#titlebar table td {
    vertical-align:middle;
}

#titlebar table td.left {
    font-size: 2.0em;
}

#navbar {
    margin: 20px auto;
}

.button {
    border: 1px solid #bbb;
    color: #333;
    padding: 4px 8px;
    background-color:#ddd;
    margin-right: 10px;
    text-decoration:none;
}
.button:hover {
    background-color:#eee;
    text-decoration:none;
}



/* login.html */
#login-form {
    border: 1px solid #999;
    margin: 10px auto;
    width:350px;
}
#login-form th,
#login-form td {
    text-align:left;
    vertical-align:bottom;
    padding: 4px 8px;
    width:50%;
}

#login-form .errorlist {
    max-width: 320px;
}


/* IE6 doesn't allow input[type=text] selectors :( */
#id_username,
#id_password {
    width:100%;
}

/* file_list.html */
table.workspace {
    border-collapse:collapse;
}

table.workspace td.left {
    width:250px;
}
table.workspace td.left div {
    width:250px;
    border:1px solid #999;
}

table.workspace td.left table {
    border-collapse:collapse;
}

table.workspace td.left tr {
    height:32px;
}

table.workspace td.left td {
    padding:2px 4px;
    border-top:1px solid #999;
    vertical-align:middle;
}

table.workspace td.separator {
    width: 10px;
}

table.workspace td.right {
    vertical-align:top;
}

table.workspace td.right table {
    border-collapse:collapse;
}
table.workspace td.right div.container {
    border:1px solid #999;
}

table.workspace td.right tr.toolbar {
    background-color: #efefef;
    height:48px;
}

table.workspace td.right tr.toolbar td {
    vertical-align:middle;
    border-bottom:1px solid #999;
    padding-left:8px;
}

table.workspace td.right tr.header {
    background-color: #E0E9EF;
}
table.workspace td.right tr.header th {
    border-bottom:1px solid #999;
    font-size:0.8em;
    vertical-align:middle;
}
table.workspace td.right td,
table.workspace td.right th {
    padding-top:2px;
    border-right:1px solid #999;
}
table.workspace td.right .file-list-checkbox {
    width:30px;
}
table.workspace td.right .file-list-filename {
    padding-left:8px;
}
table.workspace td.right .file-list-size {
    width:100px;
    padding-left:8px;
}
table.workspace td.right .file-list-date {
    width:100px;
    padding-left:8px;
}

table.workspace td.right tr.detail {
    height:32px;
}

p.comments {
    font-size:0.8em;
    color:#666;
    border-left:4px solid #ddd;
    padding-left:5px;
    margin-left:5px;
}




/* add_file.html */
ul.file-upload li label {
    display:block;
    font-size:0.8em;
    padding-top:10px;
}
ul.file-upload li  {
    float:left;
    padding-right:10px;
}

#additional-form {
    margin-top: 30px;
}

#upload-form {
    margin: 10px 0;
    width:600px;
    border:1px solid #999;
}

#upload-form form {
    padding: 10px;
}

#upload-form input.comment {
    width: 300px;
}

/* manage_users.html */
#manage-users {
    border:1px solid #999;
    border-collapse:collapse;
}
#manage-users th {
    background-color: #E0E9EF;
    padding:4px;
    font-size:0.8em;
    border-bottom:1px solid #999;
}
#manage-users td {
    vertical-align:center;
    padding: 2px 4px;
}
#manage-users .username { width: 120px; }
#manage-users .password { width: 120px; }
#manage-users .files { width: 60px; }
#manage-users .size { width: 120px; }
#manage-users .percentage { width: 220px; }
#manage-users .actions { width: 80px; }

#add-user-form td {
    border:none;
    padding:2px 4px;
}
#add-user-form th {
    font-size:0.8em;
    vertical-align:middle;
    padding:2px 4px;
}

/* Percentages */
div.percentage-back {
    background-color:#aaa;
    height:20px;
    line-height:20px;
    width:200px;
    position:relative;
}

div.percentage-front {
    background-color:#628296;
    color: #fff;
    height:100%;
    font-size:0.8em;
    position:absolute;
}
div.percentage-text {
    color: #fff;
    height:100%;
    font-size:0.8em;
    position:absolute;
}



/* Delete user */
#delete-user {
    width:500px;
    border:1px solid #999;
}
#delete-user p {
    margin:10px;
}
div.warning {
    border:1px solid #999;
    background:#ffe;
    padding:10px;
    margin:10px 0;
    text-align:center;
}

table.credentials {
    border-collapse:collapse;
    margin:20px auto;
}
table.credentials th,
table.credentials td {
    border:1px solid #999;
    padding:4px 8px;
}



/* Change password */
#user-change-password {
    width:500px;
    border:1px solid #999;
}
#user-change-password table {
    border-collapse:collapse;
}
#user-change-password th,
#user-change-password td {
    vertical-align:bottom;
    padding: 10px 4px;
}

#instructions {
    border: 2px dashed #999;
    padding: 10px;
}
