/* global */
body {
    font-family:helvetica,arial,sans-serif;
    color: #333;
}

small {
    font-size:80%;
}

.left {
    text-align:left;
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}

.clear {
    clear:both;
}
.message {
    background:#ffffee;
    border:3px solid #ffeecc;
    padding:20px;
}
.message li {
    list-style:square;
    margin-left:20px;
}

#hd {
    margin:0 20px;
}

#bd {
    margin: 0 20px;
}

#ft {
    text-align:center;
    margin-top:30px;
    color:#999;
    font-size: 0.8em;
}

#ft a {
    color:#666;
    text-decoration:underline;
}

.errorlist {
    color:#c30;
    font-size: 0.8em;
}

h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.6em;
}
h3 {
    font-size:1.5em;
}

p {
    margin: 10px 0;
}

a {
    color: #58788C;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

tr.even {
    background-color:#fff;
}
tr.odd {
    background-color: #f4f4f4;
}

.title {
    color:#628296;
    text-align:left;
    padding:0 0 10px 0;
}
.title small {
    color:#999;
    font-size:60%;
}

.highlight a {
    background-color:#eee;
    color:#3B515F;
    font-weight:bold;
    text-decoration:none;
    cursor:default;
}


.full-width {
    width:100%;
}


/* _toolbar.html */
#titlebar {
    padding:0;
    margin:20px auto;
    background:#628296;
    color:#fff;
    height:44px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#titlebar span {
    font-size:150%;
    margin:0;
    padding:10px;
    float:left;
    color:#3B515F;
    border-right:1px solid #3B515F;
    background:#ddd;
    -moz-border-radius-topLeft:2px;
    -moz-border-radius-bottomLeft:2px;
    -webkit-border-radius-topLeft:2px;
    -webkit-border-radius-bottomLeft:2px;
}
#titlebar form {
    float:right;
    margin:10px 10px 0 0;
}


#titlebar #navbar {
    margin:0;
    padding:0;
}
#titlebar #navbar li {
    margin:0;
    padding:0;
    list-style:none;
    float:left;
}
#titlebar #navbar li a {
    display:block;
    padding:14px;
    color:#fff;
}

.button {
    border: 1px solid #bbb;
    color: #333;
    padding: 4px 8px;
    background-color:#ddd;
    margin-right: 10px;
    text-decoration:none;
}
.button:hover {
    background-color:#eee;
    text-decoration:none;
}



/* login.html */
#login-form {
    border: 1px solid #ccc;
    background:#eee;
    padding:8px;
    margin: 20px auto;
    width:290px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
#login-form th {
    width:50px;
    text-align:right;
    vertical-align:middle;
    padding: 4px 8px;
    font-size:80%;
    color:#666;
}
#login-form td {
    text-align:left;
    vertical-align:middle;
    padding: 4px 8px;
}

#login-form .errorlist {
    max-width: 320px;
}


/* IE6 doesn't allow input[type=text] selectors :( */
#id_username,
#id_password {
    width:100%;
}

/* file_list.html */
table.workspace {
    border-collapse:collapse;
}
.users-list {
    width:250px;
}
.users-list li a {
    display:block;
    padding:8px;
    border-bottom:1px solid #ddd;
}

.users-list li a .ui-icon {
    float:left;
}

table.workspace td.left {
    width:250px;
}


table.workspace td.left td {
    padding:0!important;
    vertical-align:middle;
}

table.workspace td.separator {
    width: 10px;
}

table.workspace td.right {
    vertical-align:top;
}

table.workspace td.right table {
    border-collapse:collapse;
}

table.workspace td.right thead tr th {
    font-size:0.8em;
    vertical-align:middle;
    padding:2px 4px;
}
table.workspace td.right .file-list-checkbox {
    width:30px;
}
table.workspace td.right .file-list-filename {
    padding-left:8px;
    font-size:120%;
}
table.workspace td.right .file-list-size {
    width:100px;
    padding-left:8px;
}
table.workspace td.right .file-list-date {
    width:100px;
    padding-left:8px;
}

table.workspace td.right tr.detail td {
    padding:4px;
}

p.comments {
    font-size:0.8em;
    color:#666;
    border-left:4px solid #ddd;
    padding-left:5px;
    margin-left:5px;
}




/* add_file.html */
ul.file-upload {

}
ul.file-upload li label {
    display:block;
    font-size:0.8em;
    padding-top:10px;
}
ul.file-upload li  {
    float:left;
    padding-right:10px;
}

#additional-form {
    margin-top: 30px;
}

#upload-form {
    margin: 10px 0;
    width:600px;
    background:#eee;
    border:1px solid #ccc;
    padding:8px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#upload-form form {
    padding: 10px;
}

#upload-form input.comment {
    width: 300px;
}

/* manage_users.html */
ul.form label {
    font-size:80%;
    color:#666;
    padding:6px 0 3px 0;
    display:block;
}
ul.form .actions {
    padding:8px 0;
}

ul.form #id_username,
ul.form #id_password1,
ul.form #id_password2 {
    width:220px;
}
#manage-users td {
    vertical-align:center;
    padding:0px 4px 10px 4px;
}
#manage-users .username { width: 120px; }
#manage-users .password { width: 120px; }
#manage-users .files { width: 60px; }
#manage-users .size { width: 120px; }
#manage-users .percentage { width: 220px; }
#manage-users .actions { width: 180px; }


/* Percentages */
div.percentage-back {
    background-color:#aaa;
    height:20px;
    line-height:20px;
    width:200px;
    position:relative;
    top:6px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

div.percentage-front {
    background-color:#628296;
    color: #fff;
    height:100%;
    font-size:0.8em;
    position:absolute;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
div.percentage-text {
    color: #fff;
    height:100%;
    font-size:0.8em;
    position:absolute;
}



/* Delete user */
#delete-user {
    width:500px;
}
#delete-user p {
    margin:10px;
}
div.warning {
    border:1px solid #999;
    background:#f4f4f4;
    padding:10px;
    margin:10px 0;
    text-align:center;
}

table.credentials {
    border-collapse:collapse;
    margin:20px 0;
}
table.credentials th {
    color:#333;
    font-weight:bold;
    font-size:80%;
}
table.credentials th,
table.credentials td {
    border:1px solid #999;
    padding:4px 8px;
}



/* Change password */
#user-change-password {
    width:500px;
}

#instructions {
    border: 1px dashed #ccc;
    padding: 10px;
}



/* BUTTONS */
#file-list-actions {
    float:left;
    margin:2px 10px 0 0;
}
.ui-button {
    padding:0.3em 0.9em 0.3em 20px;
    position:relative;
    text-decoration:none!important;
    font-size:75%;
}
.ui-button .ui-icon {
    margin:-4px 5px 0 0;
    top:8px;
    left:2px;
    position:absolute;
}
.ui-button-disabled {
    color:#aaa!important;
    cursor:default;
}

.user-add-form form {
    background:#f4f4f4;
    border:1px solid #ccc;
    padding:8px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


/* -- FIXES -- */

.users-list li { 
    *height:30px; /* FIX: IE6*/
}
