{% extends "app/base.html" %}
{% load transfr_tags %}
{% load i18n %}

{% block bd %}
<div class="content">
    <table id="transfr-folder-index" class="trasfr-layout-2cols" cellpadding="0" cellspacing="0" summary="">
        <tr>
            <td id="leftbar" class="sidebar">
                <div id="transfr-file-upload-wrapper" class="transfr-sidebox">
                    <h3 class="ui-header">{% trans "Upload a file" %}</h3>
                    <div id="transfr-file-upload"></div>
                </div>
                {% if module_thumbnails %}
                <div id="transfr-file-preview-wrapper" class="transfr-sidebox">
                    <h3 class="ui-header">{% trans "Preview" %}</h3>
                    <div class="transfr-file-preview">
                        <img src="{{ MEDIA_URL }}img/throbber.gif" style="display:none" border="0"/>
                    </div>
                </div>
                {% endif %}
                <div id="transfr-folder-list-wrapper" class="transfr-sidebox">
                    <h3 class="ui-header">{% trans "Folders" %}</h3>
                    <table class="ui-tablegrid" cellpadding="0" cellspacing="0" summary="">
                        <thead>
                            <tr>
                                <th style="width:60%;">{% trans "Folder" %}</th>
                                <th style="width:15%;">{% trans "Files" %}</th>
                                <th style="width:25%;">{% trans "Size" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for this_user in users %}
                            <tr id="transfr-folder-{{ this_user.id }}" class="folder {% cycle odd,even %}">
                                <td class="transfr-folder">{{ this_user }}</td>
                                <td class="transfr-folder-count center">{{ this_user.file_set.count }}</td>
                                <td class="transfr-folder-size">{{ this_user|total_size|filesizeformat }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="ui-tablegrid-drawer">&nbsp;</td>
            <td style="vertical-align:top;">
                <div class="transfr-content-wrapper">
                    <h3 class="ui-header" id="title-bar">{% trans "Files" %}</h3>
                    {% for this_user in users %}
                    <div id="transfr-folder-content-{{ this_user.id }}" class="transfr-folder-content">
                        <ul class="ui-reset ui-toolbar ui-toolbar-slim ui-clearfix ui-component" style="border-left:0;">
                            {# Delete selection #}
                            <li>{% button "delete" "#" "" "transfr-delete-selection" %}{% trans "Delete selection" %}{% endbutton %}</li>
                            {# Upload File #}
                            {% url add_file this_user.id as add_file_url %}
                            <li>{% button "upload" add_file_url "" "transf-upload-file" %}{% trans "Upload a file" %}{% endbutton %}</li>
                            {# Send instructions #}
                            {% if user.is_superuser and not this_user.is_superuser %}
                            {% url send_instructions this_user.id as add_file_url %}
                            <li>{% button "email" add_file_url %}{% trans "Send instructions" %}{% endbutton %}</li>
                            {% endif %}
                        </ul>
                        {% if this_user.file_set.all %}
                        <table class="ui-tablegrid" border="0" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr class="ui-hover-state ui-reset">
                                    <th style="width:20px;"><input type="checkbox" value="{{ this_user.id }}" class="file-check-all"></th>
                                    <th>{% trans "File name" %}</th>
                                    <th>{% trans "Size" %}</th>
                                    <th style="width:150px;">{% trans "Date" %}</th>
                                    <th style="width:220px;">{% trans "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for file in this_user.file_set.all %}
                                <tr id="file-{{ file.id }}" class="{% cycle odd,even %} file">
                                    <td class="file-check">
                                        <input type="checkbox" class="file-check-single check-{{ this_user.id }}" value="{{ file.id }}">
                                    </td>
                                    <td class="file-name ui-tablegrid-ticon">
                                        {% if file.comments %} 
                                        {{ file.truncated_name }}
                                        {% icon "comment" %}
                                        <span class="file-comments">{{ file.comments|linebreaksbr|default:"&nbsp;" }}</span>
                                        {% else %}
                                        {{ file.truncated_name }}
                                        {% endif %}
                                    </td>
                                    <td class="file-size">{{ file.safesize|filesizeformat }}<span style="display:none;">{{ file.safesize }}</span></td>
                                    <td class="file-date"><abbr class="timeago" title="{{ file.modified_date|timesince }} ago">{{ file.modified_date|date:"d-M-Y H:i" }}</abbr></td>
                                    <td class="actions">
                                        {% button "download" file.file.url "" "file-download" %}{% trans "Download" %}{% endbutton %}
                                        {% button "delete" "#" "" "transfr-delete-file" %}{% trans "Delete" %}{% endbutton %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h4>{% trans "No files" %}</h4>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
