{% extends "app/base.html" %}
{% load transfr_tags %}
{% load i18n %}

{% block bd %}

<div class="content page user-guide">
    <h1>{% trans "User Guide" %}</h1>

    <ul>
        <li><a href="#login">{% trans "Logging in" %}</a></li>
        <li><a href="#ui">{% trans "The interface" %}</a></li>
        <li><a href="#upload">{% trans "Uploading a file" %}</a></li>
        <li><a href="#delete">{% trans "Deleting a file" %}</a></li>
        <li><a href="#logout">{% trans "Logging out" %}</a></li>
    </ul>

    <h2><a name="login">{% trans "Logging in" %}</a></h2>
    <p>
        {% blocktrans %}
        To access Transfr, you must first log in.  To do so, enter the username and the password sent to you by an administrator in the login form. (Fig. 1)
        {% endblocktrans %}
    </p>
    
    <h6>Fig. 1</h6>
    <p class="fig"><img src="{{ MEDIA_URL }}help/login-{{ LANGUAGE_CODE }}.png"></p>

    <h2><a name="ui">{% trans "The interface" %}</a></h2>
    <p>
        {% blocktrans %}
        If the username and password you entered are valid, you will be taken to the main screen of Transfr:
        {% endblocktrans %}
    </p>

    <h6>Fig. 2</h6>
    <p class="fig"><img src="{{ MEDIA_URL }}help/file-list-{{ LANGUAGE_CODE }}.png"></p>
    
    <ul class="bullet-list">
        <li>
            <b class="bullet">1</b><span>{% trans "Menu" %}</span>
            <p>
            {% blocktrans %}
            The <b>Files</b> button will take you to the main Transfr page, which contains a listing of uploaded files and the <b>Logout</b> button will terminate your session.
            {% endblocktrans %}
            </p>
        </li>
        <li>
            <b class="bullet">2</b><span>{% trans "Help and About Transfr, language switcher" %}</span>
            <p>
            {% blocktrans %}
            <b>About Transfr</b> gives information on this software, who built it and why. The <b>help</b> button links to this page and finally the language switcher allow you to switch the interface language.
            {% endblocktrans %}
            </p>
        </li>
        <li>
            <b class="bullet">3</b><span>{% trans "File list with actions (delete, upload)" %}</span>
            <p>
            {% blocktrans %}
            The file list show uploaded files, their names, size and upload date. The <b>Delete selection</b> button will delete <b>permanently</b> all the selected files. The <b>Upload a file</b> button shows the file upload form (fig. 3).
            {% endblocktrans %}
            </p>
            <p>
                {% trans "Each files has its own delete and download button." %}
            </p>
        </li>
        <li>
            <b class="bullet">4</b><span>{% trans "Preview" %}</span>
            <p>
            {% blocktrans %}
            When possible, a thumbnail of the selected file will be shown. The selected file can be identified by the color of its row in the file list (pale blue).
            {% endblocktrans %}
            </p>
        </li>
    </ul>
    
    <h2><a name="upload">{% trans "Uploading a file" %}</a></h2>
    <h6>Fig. 3</h6>
    <p class="fig"><img src="{{ MEDIA_URL }}help/upload-{{ LANGUAGE_CODE }}.png"></p>
    <ul class="bullet-list">
        <li>
            <b class="bullet">1</b><span>{% trans "Click on the <i>Upload a file</i> button" %}</span>
            <p>
             {% blocktrans %}
            The file upload form will take the place of the file preview pane.
            {% endblocktrans %}
            </p>
        </li>
        <li>
            <b class="bullet">2</b><span>{% trans "Click <i>Browse</i> in the file field" %}</span>
            <p>
            {% blocktrans %}
            A window will show up to allow you to select the file you want to upload from your computer (fig. 4).
            {% endblocktrans %}
            </p>
        </li>
        <li>
            <b class="bullet">3</b><span>{% trans "Optional: enter a comment about the file" %}</span>
            <p>
            {% blocktrans %}
            The file description will show up in the file list, below the file name.
            {% endblocktrans %}
            </p>
        </li>
        <li>
            <b class="bullet">4</b><span>{% trans "Click on the <i>Save</i> button" %}</span>
            <p>
            {% blocktrans %}
            The file upload will then begin; if the file is large, a progressbar will indicate the upload progress. When the upload is complete, you will be automatically redirected to the file list, where your uploaded file will be listed.
            {% endblocktrans %}
            </p>
        </li>
    </ul>
    <h6>Fig. 4</h6>
    <p class="fig"><img src="{{ MEDIA_URL }}help/file-select.png" style="border:0;"></p>
    <br><br>
</div>




<style>
.bullet-list {
    list-style:none;
    margin-right:40px;
}
.bullet-list li {
    font-size:120%;
}
.bullet-list span {
    display:block;
    padding:19px 0 5px 65px;
}
.bullet-list p {
    font-size:70%;
    margin:0 0 0 65px!important;
    color:#444;
}
b.bullet {
    width:30px;
    height:30px;
    display:block;
    float:left;
    background:#c30;
    color:#fff;
    font-family:arial;
    font-size:118%;
    font-weight:bold;
    margin:9px 0 0 12px;
    padding:3px 2px 0 0;
    text-align:center;
    border:4px solid #fff;
    -moz-border-radius:20px;
}

.user-guide {}
.user-guide h1 {
    font-weight:normal;
    color:#666;
    padding:0 10px;
}
.user-guide h2 {
    font-weight:normal;
    padding:0 10px;
}
.user-guide h6 {
    font-size:80%;
    margin:20px 10px 5px 10px;
}
.user-guide p {
    margin:0 10px;
}
.user-guide p.fig img {
    border:4px solid #999;
}

</style>
{% endblock %}
