{% load transfr_tags %}
{% load thumbnail %}
<div class="ui-reset ui-toolbar ui-toolbar-slim ui-clearfix ui-component">{{ file.truncated_name }}</div>
{% if is_supported %}
<img src="{% thumbnail file 300x500 %}" alt="" border="0">
{% else %}
<div style="background:#fff;text-align:center;padding:20px 40px;">
    {% if is_archive %}
    <img src="{{ MEDIA_URL }}img/archive-file.png" style="border:0;"/>
    {% else %}
    <img src="{{ MEDIA_URL }}img/binary-file.png" style="border:0;"/>
    {% endif %}
</div>
{% endif %}
