{% extends "app/base.html" %}
{% load transfr_tags %}
{% load i18n %}

{% block bd %}

<table class="workspace full-width" cellspacing="0" cellpadding="0">
    <tr>
        <td class="left">
            <div class="container">
                <h3 class="title">{% trans "Add user" %}</h3>
                <form method="post" action="#">
                    <table id="add-user-form" class="full-width" cellspacing="0" cellpadding="0">
                        {{ form }}
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="submit" value="{% trans "Save" %}">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </td>

        <td class="separator">&nbsp;</td>

        <td class="right">
            <div class="container">
                <h3 class="title">{% trans "Users" %}</h3>
                <table id="manage-users" class="full-width">
                    <tr>
                        <th class="username">{% trans "Username" %}</th>
                        <th class="password">{% trans "Password" %}</th>
                        <th class="files">{% trans "Files" %}</th>
                        <th class="size">{% trans "Size" %}</th>
                        <th class="percentage">{% trans "Percentage" %}</th>
                        <th class="actions">{% trans "Actions" %}</th>
                    </tr>
                    {% for this_user,password,file_count,size in user_list %}
                    <tr class="{% cycle even,odd %}">
                        <td class="username"><a href="{% url file_list_user this_user.id %}">{{ this_user }}</a></td>
                        <td class="password">{{ password.password }}</td>
                        <td class="files">{{ file_count }}</td>
                        <td class="size">{{ size|filesizeformat }}</td>
                        <td class="percentage">{% size_percentage size total_size %}</td>
                        <td class="actions">
                            <a href="{% url instructions this_user.id %}" title="{% trans "Instructions" %}">{% icon "email" %}</a>
                            <a href="{% url set_password this_user.id %}" title="{% trans "Change password" %}">{% icon "password" %}</a>
                            <a href="{% url delete_user this_user.id %}" title="{% trans "Delete" %}">{% icon "delete" %}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </td>
    </tr>
</table>

{% endblock %}
