{% load i18n %}
{% load transfr_tags %}

<div id="titlebar">
    <form action="{% url django.views.i18n.set_language %}" method="post">
        <select id="i18n-switcher" name="language">
            {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form>
    <span id="logo">{% trans "Transfr" %}</span>
    {% if user.is_authenticated %}
    <ul id="navbar">
    {# File list + Manage users #}
    {% if user.is_superuser %}
        <li><a href="{% url file_list %}">{% trans "Files" %}</a></li>
        <li><a href="{% url manage_users %}">{% trans "Users" %}</a></li>
    {% endif %}
        <li><a href="{% url logout %}">{% trans "Logout" %}</a></li>
    </ul>
    {% endif %}
</div>
