{% extends "app/base.html" %}
{% load transfr_tags %}
{% load i18n %}

{% block bd %}
<h3 class="title">{% trans "Upload a file" %}</h3>
<div id="upload-form">
    <form method="post" action="{% url add_file user_id %}" enctype="multipart/form-data">
        {{ form.as_ul }}
        <p id="additional-form">
        <a href="#" class="ui-state-default ui-corner-all ui-button"><span class="ui-icon ui-icon-plus"></span>{% trans "Upload another file" %}</a>
        </p>
        <input class="transfr-file-upload-id" type="hidden" value="{{ request.COOKIES.sessionid }}">
        <p><input type="submit" value="{% trans "Save" %}"></p>
    </form>
</div>
{% endblock %}
