{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>{% trans "Transfr" %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/reset.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/style.css">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.7.1.custom.css">
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
        <script type="text/javascript" src="{% url jsi18n %}"></script>
        <script type="text/javascript" src="{% url media_app "js/transfr.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
        <div style="top:0;width:100%;background:#ffc;color:#333;text-align:left;padding:6px 10px;border-bottom:1px solid #ccc;"> This application is optimized for modern browsers, for a better user experience a <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">browser update</a> is strongly advised. Or better yet, try <a href="http://www.mozilla.com/firefox/">Firefox</a> ! Thank you.
        </div>
        <![endif]-->
        <div id="hd">{% include "app/_toolbar.html" %}</div>
        <div id="bd">{% block bd %}{% endblock %}</div>
        <div id="ft">
            <!-- You can use, modify this software as you wish, for free. However this copyright string along with the link *must* stay visible at all time. Thanks. -->
            <p>
            
                <a href="{% url help %}">{% trans "Help" %}</a> | <a href="{% url about %}">{% trans "About" %}</a> | <a href="http://code.google.com/p/transfr/issues/list">{% trans "Report a bug" %}</a> | {% trans "Created by" %} <a href="http://www.centdessin.com">Centdessin Design</a> - &copy; 2008-{% now "Y" %}, {% trans "All rights reserved" %}
            </p>
        </div>
        <script type="text/javascript">
        var $urls = { delete_file: "{% url delete_file %}", upload_progress: "{% url upload_progress %}", additional_upload_form: "{% url additional_upload_form 0 %}" };
        </script>
    </body>
</html>
