{% extends "app/base.html" %}
{% load transfr_tags %}
{% load i18n %}

{% block bd %}

<table class="workspace full-width" cellspacing="0" cellpadding="0">
    <tr>
        <td class="left">
            <div class="container user-add-form">
                <h3 class="title">{% trans "Add user" %}</h3>
                <form method="post" action="#">
                    <ul class="form">
                        {{ form.as_ul }}
                        <li class="actions">
                            <input type="submit" value="{% trans "Save" %}">
                        </li>
                    </ul>
                </form>
            </div>
        </td>
        <td class="separator">&nbsp;</td>
        <td class="right">
            <div class="container">
                <h3 class="title">{% trans "Users" %}</h3>
                <table id="manage-users" class="full-width">
                    <thead>
                        <tr>
                            <th class="ui-state-default username">{% trans "Username" %}</th>
                            <th class="ui-state-default password">{% trans "Password" %}</th>
                            <th class="ui-state-default files">{% trans "Files" %}</th>
                            <th class="ui-state-default size">{% trans "Disk usage" %}</th>
                            <th class="ui-state-default percentage">{% trans "Percentage" %}</th>
                            <th class="ui-state-default actions">{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for this_user,password,file_count,size in user_list %}
                        <tr class="{% cycle even,odd %}">
                            <td class="username"><a href="{% url file_list_user this_user.id %}">{{ this_user }}</a></td>
                            <td class="password">{{ password.password }}</td>
                            <td class="files">{{ file_count }}</td>
                            <td class="size">{{ size|filesizeformat }}</td>
                            <td class="percentage">{% size_percentage size total_size %}</td>
                            <td class="actions">
                                <a href="{% url instructions this_user.id %}" title="{% trans "Instructions" %}">{% icon "email" %}</a>
                                <a href="{% url set_password this_user.id %}" title="{% trans "Change password" %}">{% icon "password" %}</a>
                                <a href="{% url delete_user this_user.id %}" title="{% trans "Delete" %}">{% icon "delete" %}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>

{% endblock %}
