{% extends "app/base.html" %}
{% load i18n %}

{% block bd %}
<div class="content">
    <h3 class="ui-header">{% trans "Change password" %}</h3>
    <h4>{% trans "User" %}: <b>{{ this_user }}</b></h4>
    {% if message %}
    <h4>{{ message }}</h4>
    {% endif %}
    {% if form %}
    <form method="post" action="" id="user-change-password">
        <ul class="ui-form ui-reset">
            {{ form.as_ul }}
            <li class="ui-actions">
                <button class="ui-button-submit ui-default-state"><img src="{{ MEDIA_URL }}img/silk/accept.png"> {% trans "Save" %}</button>
            </li>
        </ul>
    </form>
    {% endif %}
</div>
<script type="text/javascript">
$(function(){
    $('#user-change-password .ui-button-reset').click(function(e){
        $.redirect('{% url manage_users %}');
        return $.stop(e);
    });
});
</script>
{% endblock %}
